.scroll {
    height: calc(100vh - 65px);
    width: 100%;
    overflow-y: scroll;
    padding: 6rem;
    background: #FAFAFA;
}

.inner {
    width: 50%;
    margin: 0 auto;
    position: relative;
}